html {
    background-color: #000;
}
.App {
  text-align: center;
}

.App input,
.App button {
  background-color: #333;
  border: 1px solid #000;
  color: #999;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #666;
}